
<%= form_for @application, url: "/applications", method: :post, local:true do |f|%>
	<h1>New Application</h1>
	<p><%= f.label :name %></p>
	<p><%= f.text_area :name %></p>
	<p><%= f.label :street_address %></p>
	<p><%= f.text_area :street_address %></p>
	<p><%= f.label :city %></p>
	<p><%= f.text_area :city %></p>
	<p><%= f.label :state %></p>
	<p><%= f.text_area :state %></p>
	<p><%= f.label :zipcode %></p>
	<p><%= f.text_area :zipcode %></p>
	   <%= f.hidden_field :status, :value => "In Progress" %>
	<p><%= f.submit "Submit" %></p>

<% end %>