<h1>Application Info</h1>
<p><%= @application.name %></p>
<p><%= @application.street_address%>, <%= @application.city %>, <%= @application.state %> <%= @application.zipcode %></p>

<section id="pets_selected">
	<% if @pets_added && @pets_added.first %>
		<h4>Pets added:</h4>
		<% @pets_added.each_with_index do |pet, index| %>
		  	 <%= render partial: '/partials/pet_info',locals:{index: index, pet: pet} %>
			<% end %>
	<% end %>
</section>


<% if @application.status == "In Progress" %>
	<% if !@pets_added %>
		<h4>Add a Pet to this Application</h4>
	<% else %>
		<h4>Add Another Pet to this Application or Submit with a Description</h4>
	<% end %>

	<%= form_with url: "/applications/#{@application.id}", method: :get, local:true do |f|%>
		<%= f.label :search_by_name %>
		<%= f.text_area :search_by_name %>'
		<%= f.submit "Submit" %>
	<% end  %>

	<% if @pet_found && @pet_found.first %>
		<% @pet_found.each_with_index do |pet, index| %>
			<h4>Match found:</h4>
		  	 <%= render partial: '/partials/pet_info',locals:{index: index, pet: pet} %>
       <% if pet.adoptable %>
		<p><%= button_to "Adopt #{pet.name}", "/applications/#{@application.id}/pets", method: :post, params: {:pet_id => pet.id, :application_id => @application.id}%></p>
		<% else %>
			<h4>Too late! <%= pet.name %> has been adopted! T T</h4>
		<% end %>
	<% end %>
	<% elsif @pet_found && !@pet_found.first%>
		<p>No pet by this name is found</p>
	<% end %>
<% end %>


<% if @application.status == "In Progress" %>
	<% if @pets_added && @pets_added.first %>
		<%= form_with url: "/applications/#{@application.id}", method: :patch, local:true do |f|%>
			<%= f.label :description %>
			<%= f.text_area :description %>
			<%= f.submit "Submit Application" %>
		<% end %>
	<% end %>
<% else %>
	<p>Desription: <%= @application.description %></p>
<% end %>

<h3>Application status: <%=@application.status%></h3>

