<section id="App_info">
	<h1>Application Info</h1>
	<p>Applicant Name: <%= @application.name %></p>
	<p>Applicant Address: <%= @application.street_address%>, <%= @application.city %>, <%= @application.state %> <%= @application.zipcode %></p>
	<p>Application description: <%=@application.description%></p>
</section>

	<% if @application.pets_added != [] %>
		  	<h3>Pets Added:</h3>
		<% @application.pets_added.each_with_index do |pet, index| %>
		  <section id="pets_added-<%=pet.id%>">
		  	 <%= render partial: '/partials/pet_info',locals:{index: index, pet: pet} %>

			<% if @application.application_pet_status(pet.id) %>
				<h4>Application for <%=pet.name%> <%=@application.application_pet_status(pet.id)%></h4>
			<% else %>
				<% if pet.adoptable %>
					<%= render partial: '/partials/approval_button', locals:{pet: pet, application_id: @application.id} %>
					<%= render partial: '/partials/rejection_button', locals:{pet: pet, application_id: @application.id} %>
				<% else %>
					<h4><%= pet.name %> has been adopted!</h4>
						<%= render partial: '/partials/rejection_button', locals:{pet: pet, application_id: @application.id} %>
				<% end %>
			<% end %>

			<% if @application.all_pets_reviewed? %>
				<% if @application.all_pets_approved? %>
					<% @application.approve_application %>
				<% elsif %>
					<% @application.reject_application %>
				<%end %>
			<% end %>
		  </section>
		<% end %>
	<% end %>
	<h2>Application Status: <%=@application.status%></h2>
