<h1><%= @shelter.name %></h1>
<p>Rank: <%= @shelter.rank %></p>
<p>City: <%= @shelter.city %></p>

<p class="pet-count">Pets at <%= @shelter.name %>: <%= @shelter.pet_count %></p>
<p class=Adoptable-pet-average-age">Adoptable Pets Average Age: <%= @shelter.adoptable_pets_average_age %></p>
<p class="Adoptable-pet-count">Adoptable Pets Count: <%= @shelter.adoptable_pets.count %></p>
<section id = "action_required">
	<h3>Pending Pets for Review:</h3>
	<% @shelter.pending_pets_for_review.each do |pet| %>
		<h4><%= pet.name %></h4>
		<% @shelter.pending_applications_for_pet(pet.id).each do |app| %>
			<%=link_to "Application for #{pet.name}", "/admin/applications/#{app.id}" %>
		<% end %>
	<% end %>


</section>

<h4 id="statistics">Number of Adopted Pets: <%= @shelter.adopted_pets_count %></h4> 
<p><%= link_to "All pets at #{@shelter.name}", "/shelters/#{@shelter.id}/pets" %></p>

<p><%= link_to "Delete #{@shelter.name}", "/shelters/#{@shelter.id}", method: :delete %></p>
